.message:nth-child(odd) {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.message:nth-child(even) {
  background-color: hwb(0 64% 36%);
  align-self: flex-end;
}

.chat::-webkit-scrollbar {
  width: 5px;
}


.chat::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.chat::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
  background: gray; 
}